body {
    background-color: #222629;    
    font-family: 'Roboto', sans-serif;  
    color: rgb(169, 173, 163);  
}

.navbar-header img {
    border-radius: 50%;
    width: 2.5rem;
    padding-right: 0.5rem;
}

.navbar-brand {
    color: #222629;
}

a.nav-link {
    color: #222629;
}

.navbar-brand:hover, a.nav-link:hover {
    color: #474B4F;
}

a.nav-link.active {
    color: rgb(241, 255, 224);
}

nav li {
    text-align: center;
}

.page-header h3 {
    border-bottom: 1px solid #61892F;
    padding: 10px;
    color: rgb(241, 255, 224);
    padding-left: 0;
    margin-left: 0;
}

.box-shadow-style {
    background-color: #61892F;
    color: rgb(206, 252, 151);
    box-shadow: 1px 1px 10px 3px rgb(56, 56, 56);
}

main {
    margin-top: 10px;
    margin-bottom: 70px;      
}

/* the whole content in the main tag */
.main-content {
    margin: 0 1rem 0 1rem;
}

.row {
    margin-top: 0.5rem;
}

a, a:focus, a:hover {
    font-family: 'Roboto', sans-serif;
    color: #6B6E70;
}

.icon-anchor {
    margin-left: 0.5rem;
}

.inline-block {
    display: inline-block;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

div.right-align, div.left-align a {
    text-decoration: none;
    color: #222629;
}

.title-h4 {
    border-bottom: 1px solid rgb(169, 173, 163);
    
}

/* **** Poem section styling **** */
.poem {
    font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
    margin: auto;
	padding: 20px 0;
    text-align: left;
    line-height: 1.5;
}

.name-cite {
    font-weight: normal;
    text-align: center;
    color: #666;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 30px;
}

.name-cite:before {
	content: '— ';
}
			
.name-cite:after {
	content: ' —';
}

/* make the first letter of the poem large */
.poem:first-letter {
	float: left;
	font-size: 38px;
	line-height: 1;
	margin: 2px 5px 0 0;
	}

/* *****************************  */

.window-mode h5 {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgb(169, 173, 163);
    padding-bottom: 0.5rem;
}

.porfolio-image {
    width: 100%;
    padding: 1rem;
}

.map {
    width: 100%;
    padding: 0.5rem;    
}

.image-holder {
    padding: 0rem 0.5rem 0.5rem 0rem; 
    margin-bottom: 0.5rem;   
}

.image-holder img {
    border-radius: 0.5rem;
}

fieldset ul {
    border-left: 2px solid #61892F;
    border-radius: 1rem;
    margin-left: 1.5rem;
    width: 60%;
    /* overflow: auto; */
}

/* skills li tag animation effect -> source: https://codepen.io/martinwolf/pen/eNNdme/  */

.cool-link {
    color: rgb(128, 134, 120);
    text-decoration: none;
    cursor: pointer;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(237, 247, 225);
    transition: width .2s;
}

.cool-link:hover::after {
    width: 100%;
}

/* ****************************** */

footer {
    color: rgb(160, 160, 160);
    text-align: center;
    background-color: #3f3f3f;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    height: 50px;
}

/* copyright section */
footer span {
    width: 50%;
    margin: auto;
    font-family: tahoma;
    font-size: small;
}

footer i, i {
    color: rgb(241, 255, 224);
}

.window-mode {
    border: 1px solid rgb(169, 173, 163);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    /* text-align: left; */
}

.window-mode a {
    text-decoration: none;    
}

.project-links {
    text-align: center;
}



/* rounded border around some contents -> only works on "desktop" and "tablet" view modes */
@media screen and (min-width: 576px) {

    /* slides in effect on the page header and footer - only in desktop and tablet view */
    @keyframes slideInFromTop {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(0);
        }
    }

    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .slide-top {
        animation: 1s ease-out 0s 1 slideInFromTop;
    }

    .slide-right {
        animation: 0.7s ease-out 0s 1 slideInFromLeft;
    }

    .slide-left {
        animation: 0.5s ease-out 0s 1 slideInFromRight;
    }
}